*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "concert one";
    font-size: 10px;
}

header{
    background-color: #fff;
}

a{
    text-decoration: none;
    color: #000;
}

.div__ul{
    font-size: 10px;
}

.logo__burguer{
    width: 50%;
    transition: transform 0.3s ease;
}

.logo__burguer:hover{
    transform: rotate(360deg);
}

.menu{
    font-family: "Concert One", monospace;
    font-size: 2rem !important;
    margin: 0 25px;
    color: black;
    transition: transform 0.5s ease;
}

.menu:hover{
    transform: scale(1.2);
}

.navbar-nav{
    --bs-nav-link-hover-color: #000
    --bs-nav-link-color: #000
}

.ul__submenu{
    border: none;
}

.submenu{
    font-family: "concert one";
    transition: transform 0.5s ease;
}

.submenu:hover{
    transform: scale(1.1);
}
.linea{
    
    width: 60%;
    height: 2px;
    background-color: rgb(255, 123, 0);
    margin-bottom: 20px;
    margin-top: 20px;
}

.video{
    width: 100%;
}

.div__ofertas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px 0 ;
}

.carrusel{
    width: 50%;
}

.titulo__imagen__carrusel{
    color: #000;
    font-size: 2rem ;
}

.subtitulo__imagen__carrusel{
    color: #000;
    font-size: 3rem;
}


.imagen__carrusel{
    height: 500px;
    object-fit: cover;
}
/*estilo footer*/

.div__footer{
    padding: 50px 0;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
    "ul redes" ;
    justify-content: space-between;
}

.div__ul__footer{
    grid-area: ul;
    display: flex;
    justify-content:flex-start ;
}

.div__redes__sociales{
    grid-area: redes;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-areas:
    "face2 face1"
    "insta2 insta1" ;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.ul__footer{
    list-style: none;
}

.icono__redes{
    width: 40px;
    height: 40px;
}

.icono1{
    grid-area: face1;
}

.p__face{
    grid-area: face2;
    font-family: "concert one";
    font-size: 1.2rem;
}

.instagram{
    grid-area: insta1;
}

.p__insta{
    grid-area: insta2;
    font-family: "concert one";
    font-size: 1.2rem;
}

.li__footer{
    font-family: "concert one";
    font-size: 1.2rem;
    transition: transform 0.5s ease;
}

.li__footer:hover{
    transform: scale(1.1);
    cursor: pointer;
}