* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "concert one";
    font-size: 10px;
}

a {
    text-decoration: none;
    color: #000;
}

.div__header {
    background-color: #fff !important;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
}

.div__ul {
    font-size: 10px;
}

.logo__burguer {
    width: 50%;
    transition: transform 0.3s ease;
}

.logo__burguer:hover {
    transform: rotate(360deg);
}

.menu {
    font-family: "Concert One", monospace;
    font-size: 2rem !important;
    margin: 0 25px;
    color: black;
    transition: transform 0.5s ease;
}

.menu:hover {
    transform: scale(1.2);
}

.navbar-nav {
    --bs-nav-link-hover-color: #000 --bs-nav-link-color: #000
}

.ul__submenu {
    border: none;
}

.submenu {
    font-family: "concert one";
    transition: transform 0.5s ease;
}

.submenu:hover {
    transform: scale(1.1);
}

.linea {

    width: 60%;
    height: 2px;
    background-color: rgb(255, 123, 0);
    margin-bottom: 20px;
    margin-top: 20px;
}

.div__inicial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.div__titulo {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.div__parrafo {
    display: flex;
    background-color: #ffffff2f;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: transform 0.8s ease;
}

.div__parrafo:hover {
    transform: scale(1.2);
}

.titulo__principal {
    font-size: 4rem;
    font-family: "Kaushan Script";
    color: #fff;
}

.argentina {
    width: 40px;
    height: 40px;
}

.video {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.div__ofertas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.carrusel {
    width: 50%;
}

.div__texto__carrusel {
    background-color: #fcfcfc73;
    border-radius: 50%;
}

.titulo__imagen__carrusel {
    color: #292929;
    font-size: 3rem;

}

.subtitulo__imagen__carrusel {
    color: #be0000;
    font-size: 3rem;
}


.imagen__carrusel {
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
}

.div__principal__nosotros {
    background-color: #000000ce;
    border-radius: 30px;
    padding: 40px;
}

.div__video {
    position: relative;
}

.video__fondo {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.div__titulo__nosotros {
    display: flex;
    justify-content: center;
}

.titulo__nosotros {
    font-size: 2rem;
    color: #e6683c;
}

.div__nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div__nosotros__1 {
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 35px;
    text-align: center;
}

.parrafo__nosotros {
    font-size: 1.5rem;
    color: #e6683c;
}

.foto__local {
    width: 30%;
    border-radius: 50%;
    box-shadow: 0 0 15px #ca781a;
}

.div__nosotros__2 {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 30px;
    text-align: center;
}

.form {
    background-image: url(../assets/fodo.png);
}

.div__form {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: #0000006e;
}

.div__label {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.label {
    font-size: 1.5rem;
    color: #fff;
}

.input {
    font-size: 1rem;
    width: 300px;
    height: 40px;
    border: none;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 10px;
    padding: 5px;
    background-color: #000;
    color: #fff;
}

.input:focus{
    outline: none;
}

.text__area {
    resize: none;
    width: 300px;
    height: 150px;
}

.button {
    width: 100px;
    height: 50px;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff;
}

.button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.button:hover::before {
    width: 9em;
}

/*estilo footer*/

.div__footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}

.div__ul__footer {
    grid-area: ul;
    display: flex;
    justify-content: flex-start;
    width: 30%;
}

.div__imagen__redes {
    display: flex;
    justify-content: space-between;
}

.div__redes__sociales {
    grid-area: redes;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ul__footer {
    list-style: none;
}

.icono__redes {
    width: 40px;
    height: 40px;
    transition: transform 0.7s ease-in-out;
}

.icono__redes:hover {
    transform: scale(1.2);
}



.p__face {
    font-family: "concert one";
    font-size: 1.2rem;
    transition: 0.5s;
}

.p__face:hover {
    color: #1201ff;
    cursor: pointer;
}



.p__insta {
    font-family: "concert one";
    font-size: 1.2rem;
    transition: 0.5s;
}

.p__insta:hover {
    color: #ee0063;
    cursor: pointer;
}

.li__footer {
    font-family: "concert one";
    font-size: 1.2rem;
    padding: 10px 0;
    transition: transform 0.5s ease;
}

.li__footer:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.logo__footer {
    width: 50%;
}

.div__copy {
    display: flex;
    justify-content: center;
}

.copy {
    font-size: 1rem;
}

.boton__instagram {
    width: 140px;
    height: 35px;
    background-color: #ee0063;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    transition: transform 0.7s ease;
}

.boton__instagram:hover {
    transform: scale(1.2);
}

.instagram {
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    padding: 0 5px 0 0;
}

.logo__instagram {
    padding: 0;
    margin: 0;
}

.boton__face {
    width: 140px;
    height: 35px;
    background-color: #4d53a8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    transition: transform 0.7s ease;
}

.boton__face:hover {
    transform: scale(1.2);
}

.whatsapp {
    position: fixed;
    bottom: 2%;
    right: 2%;
    transition: transform 0.1s;
}

@keyframes vibrar {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-2px, -2px);
    }

    50% {
        transform: translate(2px, -2px);
    }

    75% {
        transform: translate(-2px, 2px);
    }

    100% {
        transform: translate(2px, 2px);
    }
}

.whatsapp:hover {
    animation: vibrar 0.2s infinite;
}


.logo__whatsapp {
    width: 90px;
    height: 80px;
}